################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/.vs/Automate/FileContentIndex/63e841fe-ce63-4dfe-be38-bf0bf041aff7.vsidx
